{% extends "layouts/root.njk" %}

{% block head %}
  <link rel="stylesheet" href="/css/playerx-dev.css">

  <script type="module" src="{% getCdnUrl 'playerx' %}"></script>

  <script defer src="/js/ga.js"></script>
  <script defer src="/js/site.js"></script>
{% endblock %}

{% block main %}
  {% block header %}
    <div class="flex-shrink-0 container mx-auto">
      {% include "header.njk" %}
    </div>
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block footer %}
    {% include "footer.njk" %}
  {% endblock %}
{% endblock %}
