{% extends "layouts/root.njk" %}

{% block head %}
  <style>body{margin:0;}</style>
  <script defer src="{% getCdnUrl 'playerx' %}"></script>
{% endblock %}

{% block main %}
<player-x src="{{ player.src }}" controls muted preload="auto"></player-x>
<script>
  var urlParams = new URLSearchParams(window.location.search);
  if (urlParams.get('muxenv')) {
    document.querySelector('plx-mux').dataset.envKey = urlParams.get('muxenv');
  }
</script>
{% endblock %}
