<!doctype html>
<html lang="en" ga-id="UA-171656144-1">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <script>
      var API_URL = '{{ site.apiUrl }}';
    </script>
    <script type="importmap">
      {
        "imports": {
          "super-media-element": "https://cdn.jsdelivr.net/npm/super-media-element@1.3/+esm"
        }
      }
    </script>

    {% block head %}
    {% endblock %}
  </head>
  {% block body %}<body class="flex flex-col min-h-screen">{% endblock %}
    {% block main %}
    {% endblock %}

    {% block foot %}
    {% endblock %}
  </body>
</html>
