.DS_Store
node_modules
*.sublime-project
yarn-error.log
.nyc_output/
coverage
*.lcov

dist/
module/
umd/
esm/
/packages/site/public/
/packages/site/public/index.html
/packages/site/public/brightcove/
/packages/site/public/dailymotion/
/packages/site/public/facebook/
/packages/site/public/jw-player/
/packages/site/public/soundcloud/
/packages/site/public/streamable/
/packages/site/public/twitch/
/packages/site/public/vidyard/
/packages/site/public/vimeo/
/packages/site/public/wistia/
/packages/site/public/youtube/
/packages/bench/.env

# Local Netlify folder
.netlify
.env

.yarn/*
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
