.DS_Store
node_modules
*.sublime-project
yarn-error.log
.nyc_output/
coverage
*.lcov

dist/
module/
umd/
esm/
/site/public/
/site/public/index.html
/site/public/brightcove/
/site/public/dailymotion/
/site/public/facebook/
/site/public/jw-player/
/site/public/soundcloud/
/site/public/streamable/
/site/public/twitch/
/site/public/vidyard/
/site/public/vimeo/
/site/public/wistia/
/site/public/youtube/
/bench/.env

# Local Netlify folder
.netlify
.env
*.sublime-*
