---
permalink: demo/
title: "Playerx - API Demo"
menu: Demo
eleventyNavigation:
  key: Demo
  order: 1
tags:
  - main
  - demo
---

{% extends "layouts/root.njk" %}

{% block head %}
  <meta http-equiv="refresh" content="0; URL='/demo/{{ players[0].name | lower | replace(" ", "-") }}/'" />
  {{ super() }}
{% endblock %}
