---
permalink: /
title: "Playerx for Developers"
---

{% extends "layouts/base.njk" %}

{% block header %}
<div class="min-h-screen flex flex-col">
  {% include "header.njk" %}

  <div class="flex-grow container mx-auto flex px-6 xl:px-12 items-center">
    <div class="lg:w-1/2">
      <div class="px-4 sm:px-6 lg:px-6 mb-24">
        <div class="sm:text-center lg:text-left">
          <h2 class="text-4xl tracking-tight leading-10 font-semibold text-gray-900 sm:text-3xl sm:leading-none md:text-5xl">
            The slickest
            <br class="" />
            <span class="text-aquamarine-500">
              player framework
            </span>
          </h2>
          <p class="mt-3 text-base text-gray-600 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
            Playerx's JavaScript web component lets you embed media on the web, control playback with one API across platforms and enrich the player with powerful add-ons.
          </p>
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <a href="#choose-license" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-aquamarine-500 hover:bg-aquamarine-300 focus:outline-none focus:ring transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                Get early access
              </a>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <a href="/demo" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-aquamarine-700 bg-aquamarine-100 hover:text-aquamarine-600 hover:bg-aquamarine-50 focus:outline-none focus:ring focus:border-aquamarine-300 transition duration-150 ease-in-out md:py-4 md:text-lg md:px-10">
                Live demo
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:w-1/2">
      <div class="px-4 sm:px-6 lg:px-6 mb-24 relative">

        <pre class="plx-code opacity-80 absolute -left-6 -top-12 right-20 bottom-12 flex min-h-full text-xs md:text-sm overflow-hidden md:rounded-xl flex" style="background:#282a36">
          <div aria-hidden="true" class="hidden md:block text-white font-extralight text-opacity-50 flex-none py-4 pr-4 text-right select-none" style="width:50px">1</div>
          <div class="highlight-dark highlight-clear pt-4 pb-4 flex-auto relative block text-white overflow-auto">
            {%- highlight "html" -%}
              <player-x src="https://vimeo.com/357274789" controls></player-x>
            {%- endhighlight -%}
          </div>
        </pre>

        <player-x class="bg-black shadow-lg" src="https://vimeo.com/357274789" controls>
          <plx-media>
            <iframe src="https://player.vimeo.com/video/357274789?autoplay=0&amp;controls=1&amp;url=https%3A%2F%2Fvimeo.com%2F357274789&amp;transparent=0&amp;autopause=0&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" data-ready="true"></iframe>
          </plx-media>
        </player-x>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<main class="relative overflow-hidden flex-grow">

  <div class="container mx-auto px-6 xl:px-12 2xl:px-36">

    <ul class="flex flex-wrap -mx-4 mb-32">
      <li class="lg:w-1/2 px-4 mb-8">
        <div class="flex">
          <div class="flex-shrink-0">
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-aquamarine-700 text-white">
              <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20"><path d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z"></path></svg>
            </div>
          </div>
          <div class="ml-4">
            <h4 class="text-lg leading-6 font-medium text-gray-900">Responsive out of the box</h4>
            <p class="mt-2 text-base leading-6 text-gray-500">
              Responsiveness is enabled by default, just like you imagined how the video element would work.
            </p>
          </div>
        </div>
      </li>
      <li class="lg:w-1/2 px-4 mb-8">
        <div class="flex">
          <div class="flex-shrink-0">
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-aquamarine-700 text-white">
              <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20"><path d="M10 3.5a1.5 1.5 0 013 0V4a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-.5a1.5 1.5 0 000 3h.5a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-.5a1.5 1.5 0 00-3 0v.5a1 1 0 01-1 1H6a1 1 0 01-1-1v-3a1 1 0 00-1-1h-.5a1.5 1.5 0 010-3H4a1 1 0 001-1V6a1 1 0 011-1h3a1 1 0 001-1v-.5z"></path></svg>
            </div>
          </div>
          <div class="ml-4">
            <h4 class="text-lg leading-6 font-medium text-gray-900">Extensible</h4>
            <p class="mt-2 text-base leading-6 text-gray-500">
              A unified API across player platforms makes it easy to extend with powerful add-ons.
            </p>
          </div>
        </div>
      </li>
      <li class="lg:w-1/2 px-4 mb-8">
        <div class="flex">
          <div class="flex-shrink-0">
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-aquamarine-700 text-white">
              <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M11.757 2.034a1 1 0 01.638.519c.483.967.844 1.554 1.207 2.03.368.482.756.876 1.348 1.467A6.985 6.985 0 0117 11a7.002 7.002 0 01-14 0c0-1.79.684-3.583 2.05-4.95a1 1 0 011.707.707c0 1.12.07 1.973.398 2.654.18.374.461.74.945 1.067.116-1.061.328-2.354.614-3.58.225-.966.505-1.93.839-2.734.167-.403.356-.785.57-1.116.208-.322.476-.649.822-.88a1 1 0 01.812-.134zm.364 13.087A2.998 2.998 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879.586.585.879 1.353.879 2.121s-.293 1.536-.879 2.121z" clip-rule="evenodd"></path></svg>
            </div>
          </div>
          <div class="ml-4">
            <h4 class="text-lg leading-6 font-medium text-gray-900">Faster loads</h4>
            <p class="mt-2 text-base leading-6 text-gray-500">
              Enable the preview add-on to lazy load the player on a user-initiated action for faster page loads.
            </p>
          </div>
        </div>
      </li>
      <li class="lg:w-1/2 px-4 mb-8">
        <div class="flex">
          <div class="flex-shrink-0">
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-aquamarine-700 text-white">
              <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 20 20"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
            </div>
          </div>
          <div class="ml-4">
            <h4 class="text-lg leading-6 font-medium text-gray-900">Analytics</h4>
            <p class="mt-2 text-base leading-6 text-gray-500">
              Easy integration of 3rd-party analytics platforms for fine-grained video metrics.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="container mx-auto px-6 xl:px-12 2xl:px-24">
    <div class="md:flex flex-wrap mb-40">

      <div class="cell lg:w-3/9 order-0">
        <h3 id="choose-license" class="text-2xl">Choose a license</h3>
        <p>Read the <a class="underline" href="{{ site.githubUrl }}/blob/main/LICENSE.md" target="_blank">license terms</a></p>
      </div>
      <div class="cell lg:w-3/9 order-0 lg:order-1 lg:mb-4">
      </div>

      <div class="cell md:w-3/9 lg:w-2/9 order-0 lg:border-l">
        <h2 class="text-xl font-semibold">Free</h2>

        <div class="mt-4 flex items-center font-display">
          <span class="flex items-start leading-none tracking-tight font-light text-gray-900 text-2xl">
            $0
          </span>
        </div>

        <a id="tweet-button" href="https://twitter.com/intent/tweet?text={{ "Playerx - The slickest player framework." | urlencode }}&amp;url={{ site.url | urlencode }}&amp;via=luwes&amp;hashtags=playerx" class="buy-button bg-aquamarine-300 hover:bg-aquamarine-500 text-aquamarine-800">
          Tweet for support
        </a>
      </div>
      <div class="cell md:w-3/9 lg:w-2/9 order-1 mb-4 lg:border-l">
        <ul class="feature-list">
          <li>Uniform cross platform API</li>
          <li>Responsive by default</li>
          <li>Engaging and rich previews</li>
          <li>Faster loads by lazy loading</li>
          <li>Video analytics integrations</li>
        </ul>
      </div>

      <div class="cell md:w-3/9 lg:w-2/9  order-0 md:border-l">
        <h2 class="text-xl font-semibold">Backer</h2>

        <div class="mt-4 flex items-center font-display">
          <span class="flex items-start text-2xl leading-none tracking-tight font-light text-gray-900">
            $29
          </span>
        </div>

        <a href="https://gum.co/RrzVq" class="buy-button bg-aquamarine-500 hover:bg-aquamarine-400 text-white">
          Buy License
        </a>
      </div>
      <div class="cell md:w-3/9 lg:w-2/9  order-1 mb-4 md:border-l">
        <div class="text-gray-500 text-sm leading-loose">
          Everything in Free +
        </div>
        <ul class="feature-list">
          <li>Support further development</li>
          <li>License for future premium add-ons</li>
        </ul>
      </div>

      <div class="cell md:w-3/9 lg:w-2/9 order-0 md:border-l">
        <h2 class="text-xl font-semibold">Unlimited</h2>

        <div class="mt-4 flex items-center font-display">
          <span class="text-right text-xl leading-none font-light text-gray-400 tracking-wide line-through">
            $98
          </span>
          <span class="px-2 flex items-start leading-none tracking-tight font-light text-gray-900 text-2xl">
            $49
          </span>
        </div>

        <a href="https://gum.co/CMMrr/earlybird" class="buy-button text-white bg-aquamarine-700 hover:bg-aquamarine-600">
          Buy License
        </a>
      </div>
      <div class="cell md:w-3/9 lg:w-2/9 order-1 mb-4 md:border-l">
        <div class="text-gray-500 text-sm leading-loose">
          Everything in Backer +
        </div>
        <ul class="feature-list">
          <li>License for selling software with a Playerx integration</li>
        </ul>
      </div>

    </div>

  </div>

</main>

<script src="https://gumroad.com/js/gumroad.js"></script>
{% endblock %}
