---
permalink: /compare/
title: "Playerx - Compare video platforms"
---

{% extends "layouts/root.njk" %}

{% block head %}
  <meta http-equiv="refresh" content="0; URL='/compare/sort/viewer-experience-score'" />
  {{ super() }}
{% endblock %}
