
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: #67758A;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: #67758A;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: #67758A;
  cursor: pointer;
}

player-x {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.btn {
  @apply bg-gray-400 text-white text-sm py-1 px-2 rounded mr-1;
}

.btn-active {
  @apply bg-gray-500 shadow-inner;
}

.btn:hover:enabled {
  @apply bg-gray-600;
}

.src-btn {
  @apply leading-tight;
}

.pill {
  @apply bg-aquamarine-100 opacity-50 transition-opacity text-aquamarine-600 text-xs py-1 px-3 rounded-full mr-2;
}

.pill.pill-on {
  @apply opacity-100;
}

.pill > i {
  @apply font-bold font-mono text-aquamarine-700;
}

.log:first-child {
  border-top: 0;
}

.log {
  @apply px-2 border-t border-gray-200 flex justify-between;
}

.log > div {
  @apply truncate;
  width: calc(100% - 3rem);
}

.log > i {
  @apply text-gray-400;
}
