
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: #67758A;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: #67758A;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: #67758A;
  cursor: pointer;
}

.player {
  padding-bottom: 56.25%;
  height: 0;
}

.btn {
  @apply bg-cool-gray-400 text-white text-sm py-1 px-2 rounded mr-1;
}

.btn-active {
  @apply bg-cool-gray-500 shadow-inner;
}

.btn:hover:enabled {
  @apply bg-cool-gray-600;
}

.src-btn {
  @apply leading-tight;
}

.logger p:first-child {
  border-top: 0;
}

.logger p {
  @apply px-2 border-t border-cool-gray-200;
}
