#main-menu.active {
  @apply flex;
}

#burger.active svg:first-child {
  display: none;
}

#burger.active svg:last-child {
  display: block;
}

.highlight-clear {
  pre[class*="language-"] {
    margin: 0;
    padding: 0;
    background: none;
    overflow: hidden;
  }
}

.buy-button {
  @apply block mt-4 w-full text-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded transition duration-150 ease-in-out;
}

.buy-button:active {
  @apply bg-aquamarine-700;
}

.buy-button:focus {
  @apply outline-none ring-aquamarine-300 border-aquamarine-700;
}

.cell {
  @apply flex-grow overflow-hidden w-full border-b p-5;
}

.feature-list {
  @apply text-sm;
}

.feature-list li {
  @apply relative pl-4 py-1;
}

.feature-list li:before {
  content: '•';
  @apply absolute text-cool-gray-300 left-0;
}

.menu-options {
  @apply origin-top-right absolute right-0 mt-2 w-24 rounded-md shadow-lg;
}
